
<web-app>
    <servlet>
        <display-name>RestService</display-name>
        <servlet-name>RestService</servlet-name>
        <servlet-class>service.ApplicationConfig.RestService</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.ApplicationConfig</param-name>
            <param-value>service.ApplicationConfig</param-value>
        </init-param>
    </servlet>
</web-app>